/CategoriaNaoInformadaException.class
/DadosPessoaisIncompletosException.class
/DescricaoNaoInformadaException.class
/Main.class
/Pessoa.class
/RendimentoInvalidoException.class
/Republica.class
/ValorNaoInformadoException.class
